/* Chat containers */
.containerchatBox {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: 3px;
  margin: 6px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #C4D2C0;
}

/* Clear floats */
.containerchatBox::after {
  content: "";
  clear: both;
  display: table;
}


.button {
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  /*width: 80px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sendButton {
  padding: 10px;
  background-color: #46AC50;
  height: 30px;
  text-align: top;
  margin-left: 25%;
}


.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
body,h1,p {font-family: "Raleway", sans-serif}
body, html {height: 100%}

.bgimg {
    background-image: url('back.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

div.transbox {
  margin: 30px;

  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}